#hailercontainer {
    display: flex;
    justify-content: center;
}

#hailer {
    margin: 25px;
    font-size: 18px;
}

#mainBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

table.request {
    font-size: 18px;
    margin: 25px;
    border: solid 1px black;
    padding: 25px;
    width: 360px;
}

table.request td {
    padding: 10px;
    width: 50px;
}

.icon {
    font-weight: bold;
    padding: 10px;
}

.cabify {
    background: purple;
    color: white;
}

.uber {
    background: black;
    color: white;
}

.taxify {
    background: yellow;
}

.lyft {
    background: pink;
}

.lowestPrice {
    font-weight: bold;
}

.toHide {
    display: none;
}
